* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #121212; /* Very dark gray */
    text-align: center;
    color: #ffffff; /* White */
  }
  
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #64ffda; /* Aqua */
    background-color: #1f1f1f; /* Dark gray */
  }
  
  #reset-btn,
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #64ffda; /* Aqua */
    color: black; /* White */
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  #msg {
    color: #ffffff; /* White */
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }
  